<div class="container-fluid" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand"><i class="fa fa-beer"></i> OnTapp</a>
	</div>

	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
  	<ul class="nav navbar-nav">
      <li data-ng-repeat="item in menu.items | orderBy: 'position'" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle>
					<span data-ng-bind="item.title">{{subitem.uiRoute}} {{item.uiRoute}}</span>
					<b class="caret">{{subitem.uiRoute}} {{item.uiRoute}}</b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title">{{subitem.uiRoute}} {{item.uiRoute}}</a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title">{{subitem.uiRoute}} {{item.uiRoute}}</a>
			</li>

      <li><a href="http://green-brass-doberman.github.io/on-tapp/" target="blank">About</a></li>

      <li class="navbar-form navbar-right">
        <form class="search-form form-group">
          <input type="text" ng-model="keyword" class="form-control" placeholder="Search">
          <button type="submit" class="btn" ng-click="search()">
            <span class="fa fa-search"></span>
          </button>
        </form>

<!--         <form action="#" role="search">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" ng-model="keyword" type="text">
              <span class="input-group-btn">
                <button type="submit" class="btn" ng-click="search()"><span class="fui-search"></span></button>
              </span>
            </div>
          </div>
        </form>
 -->
<!--         <form class="search-form form-group">
          <input type="text" ng-model="keyword" class="form-control search-bar" placeholder="Search for beers or breweries...">
          <button type="submit" ng-click="search()" class="btn">Search</button>
        </form> -->
      </li>
		</ul>

		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown" dropdown>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
