<section data-ng-controller="HomeController">
  <div class="container">

    <div class="jumbotron">
      <div class="col-md-6">
        <h1></h1>
      </div>
      <div class="col-md-6">
        <h2>Catalog your beer tastebuds and share recommendations with like tastebudded people.</h2>
        <p>For all lovers of frothy goodness to expand the horizons of their enthusiasm.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/#!/nearby" role="button">Discover more &raquo;</a>
        </p>
      </div>
    </div>

    <div class="clearfix"></div>
    <hr>

    <div class="row text-center">
      <div class="col-md-4">
        <img src="/modules/core/images/Goal%402x.png" alt="Goal" style="width: 140px; height: 140px;">
        <h3>Summary</h3>
        <p>Mobile accessible web application to allow beer lovers to share and receive recommendations on their favorite form of frothy, liquid refreshment.  Will also seek to provide the most immediate outlet for their desired libation.</p>
      </div>
      <div class="col-md-4">
        <img src="/modules/core/images/Search%402x.png" alt="Search" style="width: 140px; height: 140px;">
        <h3>Problem</h3>
        <p>People like beer. People would like to know where to readily access the beers they like.  In addition, they would like to discover new and interesting beers, based not on beer categories, but based on their personal taste preferences.  OnTapp's goal, is to solve those problems. </p>
     </div>
      <div class="col-md-4">
        <img src="/modules/core/images/Shield%402x.png" alt="Ratings" style="width: 140px; height: 140px;">
        <h3>Solution</h3>
        <p>Create a user-friendly platform for sharing information about beer tastes and accessibility.</p>
      </div>
    </div>

    <hr>

    <div class="col-md-9">
      <blockquote class="blockquote-reverse">
        <p>"Coming from America's 'Craft Beer Capital', we have been lacking an app designed for the beer enthusists, by beer enthusists.  This app fills that gap!"</p>
      </blockquote>
    </div>
    <div class="col-md-3">
      <img src="/modules/core/images/Dude%402x.png" alt="Ratings" style="width: 140px; height: 140px;">
    </div>

    <div class="clearfix"></div>
    <hr>

     <div class="col-md-3">
      <img class="pull-right" src="/modules/core/images/Girl%402x.png" alt="Ratings" style="width: 140px; height: 140px;">
    </div>
    <div class="col-md-9">
      <blockquote>
        <p>"This is what I would want out of a beer app. Untapped so far hasn't done that for me."</p>
      </blockquote>
    </div>

  </div> <!-- /container -->
</section>
