<section data-ng-controller="HomeController">
  <div class="grey-container">
    <div class="container">
      <div class="text-center">
        <div class="col-sm-5 col-md-3">
          <img class="img-responsive center-block brand-logo" src="/modules/core/images/on-tapp-165x165.png">
        </div>
        <div class="col-sm-7 col-md-9">
          <h2>Discover breweries around you & receive personalized recommendations based on your rated beers</h2>
        </div>
        <hr>
        <p>OnTapp uses your geolocation and machine learning algorithms to find the perfect beer you’ll love.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/#!/nearby" role="button">Discover Breweries Nearby &raquo;</a>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="text-center">
      <div class="col-sm-4">
        <img src="/modules/core/images/Goal%402x.png" alt="Goal" style="width: 140px; height: 140px;">
        <h4>Summary</h4>
        <p>Users can locate breweries within a 10 mile radius of their current location. They can rate the beers at those specific breweries and receive recommendations of other beers that are similar.</p>
      </div>
      <div class="col-sm-4">
        <img src="/modules/core/images/Search%402x.png" alt="Search" style="width: 140px; height: 140px;">
        <h4>Problem</h4>
        <p>We all love beer, and we face an unprecedented variety of options. Where to find the beers we like? What should I drink next?</p>
     </div>
      <div class="col-sm-4">
        <img src="/modules/core/images/Shield%402x.png" alt="Ratings" style="width: 140px; height: 140px;">
        <h4>Solution</h4>
        <p>OnTapp's goal is to solve these two problems. We would like to discover new and interesting beers, not simply based on categories, but also our current location and personal taste preferences.</p>
      </div>
    </div>
  </div>

  <div class="quote-container">
    <div class="container">
      <div class="col-md-6 ">
        <img class="pull-left" src="/modules/core/images/Dude%402x.png" alt="Ratings" style="width: 140px; height: 140px;">
        <blockquote class="blockquote-reverse">
          <p>"Coming from America's 'Craft Beer Capital', we have been lacking an app designed for the beer enthusists, by beer enthusists.  This app fills that gap!"</p>
        </blockquote>
      </div>

      <div class="col-md-6">
        <img class="pull-left" src="/modules/core/images/Girl%402x.png" alt="Ratings" style="width: 140px; height: 140px;">
        <blockquote  class="blockquote-reverse">
          <p>"This is what I would want out of a beer app. Untapped so far hasn't done that for me."</p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="text-center">
      <p>Powered by</p>
      <a href="http://www.hackreactor.com/" target="blank"><img class="sponsor" src="/modules/core/images/hrhq-logo@2x.png" alt="Hack Reactor"></a>
      <a href="http://www.brewerydb.com/" target="blank"><img class="sponsor" src="/modules/core/images/BreweryDB.png" alt="Powered By BreweryDB"></a>
      <a href="http://meanjs.org/" target="blank"><img class="sponsor" src="/modules/core/images/meanjs.png" alt="Powered By BreweryDB"></a>
      <a href="http://prediction.io/" target="blank"><img class="sponsor" src="/modules/core/images/PredictionIO-logo.png" alt="Powered By BreweryDB"></a>
    </div>
  </div> <!-- /container -->

  <footer class="footer">
    <div class="container text-center">
      <p class="text-muted"><a href="https://github.com/green-brass-doberman">green-brass-doberman</a></p>
    </div>
  </footer>
</section>


