<section data-ng-controller="HomeController">
  <div class="grey-container">
    <div class="container">
      <div class="text-center">
        <div class="col-sm-5 col-md-3">
          <img class="img-responsive center-block brand-logo" src="/modules/core/images/on-tapp-165x165.png">
        </div>
        <div class="col-sm-7 col-md-9">
          <h1 class="landing-page-heading">Discover breweries around you & receive personalized recommendations based on your rated beers</h1>
        </div>
        <hr>
        <h2 class="landing-page-sub-heading">OnTapp uses your geolocation and machine learning algorithms to find the perfect beer you’ll love.</h2>
        <p>
          <a class="btn btn-lg btn-primary" href="/#!/nearby" role="button">Discover Breweries Nearby &raquo;</a>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="text-center">
      <div class="col-sm-4">
        <img src="/modules/core/images/Goal%402x.png" alt="Goal" class="landing-page-icon">
        <h3 class="sub-title">Summary</h3>
        <p>Users can locate breweries within a 10 mile radius of their current location. They can rate the beers at those specific breweries and receive recommendations of other beers that are similar.</p>
      </div>
      <div class="col-sm-4">
        <img src="/modules/core/images/Search%402x.png" alt="Search" class="landing-page-icon">
        <h3 class="sub-title">Problem</h3>
        <p>We all love beer, and we face an unprecedented variety of options. Where to find the beers we like? What should I drink next? OnTapp's goal is to solve these two problems. </p>
     </div>
      <div class="col-sm-4">
        <img src="/modules/core/images/Shield%402x.png" alt="Ratings" class="landing-page-icon">
        <h3 class="sub-title">Solution</h3>
        <p>We would like to discover new and interesting beers, not simply based on categories, but also our current location and personal taste preferences.</p>
      </div>
    </div>
  </div>

  <div class="quote-container">
    <div class="container">
      <div class="col-md-6 ">
        <img class="pull-left" src="/modules/core/images/Dude%402x.png" alt="Ratings" style="width: 140px; height: 140px;">
        <blockquote class="blockquote-reverse">
          <p>"Coming from America's 'Craft Beer Capital', we have been lacking an app designed for the beer enthusists, by beer enthusists.  This app fills that gap!"</p>
        </blockquote>
      </div>

      <div class="col-md-6">
        <img class="pull-left" src="/modules/core/images/Girl%402x.png" alt="Ratings" style="width: 140px; height: 140px;">
        <blockquote  class="blockquote-reverse">
          <p>"This is what I would want out of a beer app. Untappd so far hasn't done that for me."</p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3 text-center">
        <a href="http://www.hackreactor.com/" target="blank"><img class="sponsor" src="/modules/core/images/hrhq-logo@2x.png" alt="Hack Reactor"></a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 text-center">
        <a href="http://www.brewerydb.com/" target="blank"><img class="sponsor" src="/modules/core/images/BreweryDB.png" alt="Powered By BreweryDB"></a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 text-center">
        <a href="http://meanjs.org/" target="blank"><img class="sponsor" src="/modules/core/images/meanjs.png" alt="Powered By BreweryDB"></a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 text-center">
        <a href="http://prediction.io/" target="blank"><img class="sponsor" src="/modules/core/images/PredictionIO-logo.png" alt="Powered By BreweryDB"></a>
      </div>
      </div>
    </div>
  </div> <!-- /container -->

  <footer class="footer">
    <div class="container text-center">
      <p><a href="http://green-brass-doberman.github.io/on-tapp/" class="about-us" target="blank">About us</a></p>
    </div>
  </footer>
</section>
