<section data-ng-controller="SearchController">

    <!-- spinner while searching -->
  <span us-spinner spinner-key="spinner-2" spinner-start-active="true"></span>

  <div class="container">
    <div ng-if="totalResults">
      <h2>Your search for "{{keyword}}" returned {{totalResults}} results:</h2>
      <div class="list-group">
        <a data-ng-repeat="result in results | orderBy: 'type'" data-ng-href="#!/{{result.type}}/{{result.id}}" class="list-group-item">
          <h4 class="list-group-item-heading" data-ng-bind="result.name"></h4>
          Type: {{result.type}}
        </a>
      </div>
      <pagination total-items="totalResults" items-per-page="50" ng-model="currentPage" data-ng-change="search(currentPage)"></pagination>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="totalResults === 0">
      Nothing found!!  Please try again...
    </div>
  </div>
</section>
