.jumbotron h1 {
  background: url(../images/on-tapp-165x165.png) top center no-repeat;
  height: 400px;
}
p.right {
  text-align: right;
  margin-top: 10px;
}
p.content {
  white-space: pre-wrap;
  line-height: 1em;
}
