p.center {
  text-align: center;
  margin: 0;
  line-height: 1.3em;
}
p.content {
  white-space: pre-wrap;
  line-height: 1.3em;
  padding-right: 15px;
}
img.brewery-img {
  margin-bottom: 15px;
}
p.beer-btn {
  text-align: center;
  margin-top: 15px;
}
.beer {
  box-sizing: border-box;
  font-size: 0.8em;
  line-height: 1.3em;
  margin: 0 15px 15px 0;
  padding: 5px 15px 0 15px;
  border: 1px solid #5a5a5a;
  width: 232px;
  height: 420px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.beer p {
  margin-top: 10px;
}
form.list-beers {
  display: block;
  position:absolute;
  bottom: 10px;
  padding-left: 18px;
}
.beer img {
  margin-bottom: 20px;
}
.ta-search {
  width: 240px;
}