p.center {
  text-align: center;
  margin: 0;
  line-height: 1.3em;
}
.brewery-info p {
  text-align: center;
  margin: 0;
  line-height: 1.8em;
}
p.content {
  white-space: pre-wrap;
  line-height: 1.3em;
  padding-right: 15px;
}
p.beer-btn {
  margin-top: 15px;
}
.beer {
  box-sizing: border-box;
  font-size: 0.8em;
  line-height: 1.3em;
  margin: 0 15px 15px 0;
  padding: 5px 15px 0 15px;
  border: 1px solid #5a5a5a;
  width: 232px;
  height: 420px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.beer p {
  margin-top: 10px;
}
form.list-beers {
  display: block;
  position:absolute;
  bottom: 10px;
  padding-left: 18px;
}
.ta-search {
  width: 240px;
}
.guilds {
  text-align: center;
}
.guild-image {
  display: inline-block;
  margin: 10px 5px 5px 5px;
}
.sm-image {
  display: inline-block;
  margin: 10px 2px 0 2px;
}
.sm-icons {
  padding-left: 0;
  padding-right: 0;
}
.navbar-form {
  padding-top: 0;
  padding-bottom: 0;
}
ul.locations {
  list-style-type: none;
  padding-left: 0;
}
li.location {
  line-height: 1.5em;
  padding-bottom: 15px;
}
.loc-name {
  font-weight: bold;
}
.beer-name {
  margin-top: 0;
  margin-bottom: 5px;
}
.text-left {
  padding-left: 15px;
}
.ratings .form-group {
  margin-bottom: 0;
}
.hours {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0;
  white-space: pre-wrap;
  word-break: normal;
  border: none;
  padding-left: 0;
}
.beer-boxes {
  margin-bottom: 15px;
}
.checkbox-inline {
  margin-left: 0;
  padding-left: 30px;
  padding-bottom:20px;
  line-height: 1.5em;
}
.checkbox-inline + .checkbox-inline {
  margin-left: 0;
}
.loc-info {
  font-size: 0.9em;
  line-height: 1.3em;
  margin-bottom: 0;
}
h4.beer-name {
  font-size: 18px;
}
.brewery-img {
  margin: 15px auto;
}
.label-inline {
  padding-left: 0;
}
.beer-item {
  min-width: 225px;
  max-width: 262px;
}
.col-md-4 {
  padding-left: 10px;
  padding-right: 10px;
}
:focus + .input-group-btn .btn {
  border-color: #1abc9c;
}
@media (max-width: 767px) {
  .no-mobile {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .no-mobile {
    display: none;
  }
}
.footer {
  padding-top: 20px;
}
.form-control:focus + .input-group-btn .btn,
.select2-search input[type="text"]:focus + .input-group-btn .btn {
  border-color: #1abc9c;
}