.angular-google-map,
.angular-google-map-container {
  height: 100%;
}

.stars{
  font-size: 40px;
}

.left-half-container{
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  height: 100%;
  margin-top: 53px;
}

.right-half-container{
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 53px;
}
