<section data-ng-controller="SearchController">
  <form class="search-form form-group">
    <input type="text" ng-model="keyword" class="form-control" placeholder="Search for beers or breweries..."><br />
    <button type="submit" ng-click="search()" class="btn">Search</button>
  </form>

  <div class="page-header">
    <h1 class="text-center">Search Results</h1>
  </div>

  <div class="list-group">
    <a data-ng-repeat="result in results" data-ng-href="" class="list-group-item">
      <h4 class="list-group-item-heading" data-ng-bind="result.name"></h4>
      Type: {{result.type}}
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-hide="!results.$resolved || results.length">
    No beers or breweries found!!
  </div>
</section>