<section data-ng-controller="SearchController">
  <form class="search-form form-group">
    <input type="text" ng-model="keyword" class="form-control" placeholder="Search for beers or breweries..."><br />
    <button type="submit" ng-click="search()" class="btn">Search</button>
  </form>

  <div class="page-header" ng-if="totalResults">
    <h1>Search Results</h1>
    <h2>Your search for "{{searchword}}" returned {{totalResults}} results:</h2>

    <pagination total-items="totalResults" items-per-page="50" ng-model="currentPage" ng-change="search(currentPage)"></pagination>
    <div class="list-group">
      <a data-ng-repeat="result in results | orderBy: 'type'" data-ng-href="#!/{{result.type}}/{{result.id}}" class="list-group-item">
        <h4 class="list-group-item-heading" data-ng-bind="result.name"></h4>
        Type: {{result.type}}
      </a>
    </div>
    <pagination total-items="totalResults" items-per-page="50" ng-model="currentPage" ng-change="search(currentPage)"></pagination>
  </div>

  <div class="alert alert-warning text-center" ng-if="totalResults === 0">
    No beers or breweries found!!
  </div>
</section>