<section data-ng-controller="BeersController">
  <div class="container">
    <div ng-repeat="group in groups">
      <h4>{{group.beers[0].available.name}}</h4>
      <div class="row">
        <div class="col-md-3" ng-repeat-start="beer in group.beers">
          <div class="beer">
            <div ng-if="beer.labels.medium">
              <img width="200" height="200" src="{{beer.labels.medium}}">
            </div>
            <div ng-if="!beer.labels.medium">
              <img width="200" height="200" src="/modules/core/images/no-beer-label-60.png">
            </div>
            {{beer.name}}
            <div ng-if="beer.style.name">
              <a href="#">{{beer.style.name}}</a>
            </div>

            <form class="list-beers form-horizontal text-center" data-ng-submit="create($index)" novalidate>
              <fieldset>
                <div class="form-group">
                  <label class="control-label" for="rating">How many stars would you give?</label>
                  <div class="controls">
                    <rating class="stars" ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary">
                </div>
                <div data-ng-show="error" class="text-danger">
                  <strong data-ng-bind="error"></strong>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="clearfix" ng-if="$index%4==3"></div>
        <div ng-repeat-end=""></div>
      </div>
<!--           <div class="col-md-1">
            <span class="pull-right badge">abv: {{beer.abv}} || ibu: {{beer.ibu}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <div ng-if="beer.isOrganic == 'Y'">
              <p class="right">Certified Organic</p>
            </div>
          </div>
          <div class="col-md-11">
            <p class="content">{{beer.description}}</p>
            <div ng-if="beer.foodPairing">
              <p>Food Pairings: {{beer.foodPairing}}</p>
            </div>
            <div ng-if="beer.year">
              <p>Year: {{beer.year}}</p>
            </div>
            <p>Availability: {{beer.available.name}}</p>
            <p>Best served in a {{beer.glass.name}}</p>

          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
