<section data-ng-controller="BeerController">
  <div class="page-header">
    <p>{{beer.name}} - <span class="brewery-name">{{beer.breweries[0].name}}</span></p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div ng-if="beer.labels.medium">
        <img class="brewery-img img-responsive center-block" ng-src="{{beer.labels.medium}}">
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{beer.abv}}</span>
          abv
        </li>
          <li class="list-group-item">
          <span class="badge">{{beer.ibu}}</span>
          ibu
        </li>
        </li>
          <li class="list-group-item">
          <span class="badge">{{beer.srmId}}</span>
          srm
        </li>
        </li>
          <li class="list-group-item">
          <span class="badge">{{beer.og}} || N/A</span>
          abv
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-3">Name:</div>
        <div class="col-sm-9">{{beer.name}}</div>
      </div>
      <div class="row">
        <div class="col-sm-3">Brewery:</div>
        <div class="col-sm-9">
          <a href="#!/brewery/{{beer.breweries[0].id}}">{{beer.breweries[0].name}}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">Style:</div>
        <div ng-if="beer.style.name" class="col-sm-9">
          <a href="#">{{beer.style.name}}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">Availability:</div>
        <div class="col-sm-9">{{beer.available.description}}</div>
      </div>
      <div class="row">
        <div class="col-sm-3">Serving:</div>
        <div class="col-sm-9">{{beer.glass.name}}</div>
      </div>
      <p class="content">{{beer.description}}</p>
    </div>
  </div>
</section>