<div class="container">
  <section data-ng-controller="RatingsController" data-ng-init="find()">

    <h3>Recommendations:</h3>

    <div class="list-group">
      <div class="list-group-item" data-ng-repeat="itemScore in itemScores">
        <h4 class="list-group-item-heading">{{itemScore.name}}</h4>
      </div>
    </div>

    <hr>

    <h3><img class="top-rated" src="/modules/core/images/Graph%402x.png">  Top 10 rated beers</h3>
    <div class="list-group">
        <a data-ng-repeat="rating in ratings | orderBy: '-stars' | limitTo:10" data-ng-href="#!/beer/{{rating.beerId}}" class="list-group-item">
          <h4 class="list-group-item-heading">{{$index + 1}} | {{rating.name}}</h4>
          <span class="badge"> Stars: {{rating.stars}} </span>
          <small class="list-group-item-text">
            Last voted on
            <span data-ng-bind="rating.created | date:'medium'"></span>
            by
            <span data-ng-bind="rating.user.displayName"></span>
          </small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!ratings.$resolved || ratings.length">
    	No Ratings yet, why don't you <a href="/#!/ratings/create">create one</a>?
    </div>
  </section>
</div>
