<section data-ng-controller="RatingsController">
 <!-- Carousel
    ================================================== -->
    <div class="carousel slide">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h2>{{slide.text}}</h2>
          </div>
        </slide>
      </carousel>
    </div>

    <!-- START THE FEATURETTES -->

    <div class="text-center" ng-repeat="rating in ratings">

      <hr class="featurette-divider">

      <div cla  ss="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">You may also like: <span class="text-muted">{{rating.name}}</span></h2>
          <p class="lead">Number of stars {{ rating.ratings.stars.number }}</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

    <div>

    <!-- /END THE FEATURETTES -->

</section>
