<div class="container">
  <section data-ng-controller="RatingsController" data-ng-init="findOne()">
    <div class="page-header">
      <h1 class="text-center" data-ng-bind="rating.name"></h1>

      <hr>
      <span class="text-center">Total number of stars: {{rating.stars}}</span>
      <!-- <ul class="list-inline text-center"> -->
        <!-- <li data-ng-repeat="star in stars"><span class="glyphicon glyphicon-star stars"></span></li> -->
      <!-- </ul> -->
    </div>
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == rating.user._id))">
      <small>
        <em class="text-muted">
          Lasted voted on
          <span data-ng-bind="rating.created | date:'mediumDate'"></span>
          by
          <span data-ng-bind="rating.user.displayName"></span>
        </em>
      </small>
    </div>


    <h2>You may also <span data-ng-if="rating.stars >= 3">like</span><span data-ng-if="rating.stars < 3">dislike</span>:</h2>

    <div class="list-group">
      <div class="list-group-item" data-ng-repeat="recommendation in recommendations">
        <h4 class="list-group-item-heading">{{recommendation.name}}</h4>
        <small class="list-group-item-text">
          {{recommendation.category.name}}
        </small>
      </div>
    </div>

  </section>
</div>
