<section data-ng-controller="NearbyController">

  <!-- spinner while map is loading -->
  <span us-spinner spinner-key="spinner-1" spinner-start-active="true"></span>

  <div class="left-half-container">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">

      <!-- marker to show current user location -->
      <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
        <ui-gmap-window show="true" closeClick="closeClick()">
        </ui-gmap-window>
      </ui-gmap-marker>

      <ui-gmap-markers models="allMarkers" coords="'self'" options="'options'" icon="'icon'" click="'onClick'">
        <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
          <div data-ng-non-bindable>{{desc}}</div>
        </ui-gmap-windows>
      </ui-gmap-markers>

    </ui-gmap-google-map>
  </div>
</section>
